<!-- <div class="card">
  <img class="imgdata" [src]="data.image" [alt]="data.name" />
  <div class="dataInfoTitle card-body">
    <a>
      <h4>{{ data.name }}</h4>
    </a>
    <div class="dataInfoMeta d-flex justify-content-between pt-4 border-top">
      <span class="dataSingleMeta">
        <i class="ti ti-list"></i>{{ data.topics.length }}</span>
      <span class="dataSingleMeta">
        <img src="../../../assets/images/coins.svg" class="coin" alt="coins" />
        {{ data.cost }}</span>
    </div>
  </div>
  <div class="dataInfo">
    <div class="dataInfoTitle">
      <a>
        <h4>{{ data.name }}</h4>
      </a>
    </div>
    <div class="dataInfoDescription">
      <p class="pt-4">{{ data.description }}</p>
    </div>
    <div class="dataInfoMeta d-flex justify-content-between pt-4 pb-4">
      <span class="dataSingleMeta">
        <i class="ti ti-list"></i>{{ data.topics.length }} topics</span>
      <span class="dataSingleMeta">
        <img src="../../../assets/images/coins.svg" class="coin" alt="coins" />
        {{ data.cost }}</span>
    </div>
    <div class="dataPreview">
      <a (click)="viewdata(data.id)" class="btn btn-primary btn-block">
        Preview this course
      </a>
    </div>
  </div>
</div> -->
