<mat-spinner color="accent" *ngIf="load"></mat-spinner>
<div class="row oneCourse" *ngIf="data">
  <section class="col-lg-9 col-md-8">
    <header class="courseImage">
      <div class="media">
        <img class="align-self-center mr-3" *ngIf="(course.image | json) !== '{}'" [src]="course.image" [alt]="course.name" />
        <img class="align-self-center mr-3" *ngIf="(course.image | json) == '{}'" src="assets/images/no-img.jpg" [alt]="course.name" />
        <div class="media-body">
          <h2 class="mt-0 text-capitalize bold">{{ course.name }}</h2>
          <small class="text-muted"><i class="ti ti-time"></i> {{course.createdAt.format}}</small>
        </div>
      </div>
    </header>
    <section class="courseTasks">
      <div class="courseDescription">
        <p>{{ course.description }}</p>
      </div>
      <header class="metaInfo" *ngIf="course.topics.length > 0">
        <h3 class="infoTitle">What you will learn ;)</h3>
        <small class="text-muted">Topics list</small>
      </header>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let lesson of course.topics | sort:'sortOrder'">
          <i class="ti ti-file"></i>
          <h3 class="topicTitle" *ngIf="apply">{{ lesson.title}}</h3>
          <a class="topicTitleLink" *ngIf="applied" (click)="navigateToTopic(lesson.id)">
            <h3 class="topicTitle">{{ lesson.title}}</h3>
          </a>
          <p>{{ lesson.shortDescription }}</p>
          <span class="topicPrize">
            <span class="d-block text-muted">Reward</span>
            <img src="assets/images/coins.svg" class="coin" alt="coins" /> {{
            lesson.prize }}
          </span>
        </li>
      </ul>
    </section>
  </section>
  <div class="col-lg-3 col-md-4">
    <div class="courseApply card">
      <div class="card-body">
        <div class="card-title bold">Course summary</div>
        <div class="courseMeta d-flex justify-content-between pt-4 pb-4">
          <span class="courseSingleMeta">
            <i class="ti ti-list mr-1"></i>{{ course.topics.length }}
            <span *ngIf="course.topics.length === 1">Topic</span>
            <span *ngIf="course.topics.length > 1">Topics</span>
          </span>
          <span class="courseSingleMeta">
            <img src="assets/images/coins.svg" class="coin" alt="coins" /> {{ course.cost }}</span>
        </div>
        <div class="text-center">
          <button [innerHTML]="applyText" class="btn btn-primary text-uppercase" (click)="takeCourse()" [disabled]="disableBtn">
          </button>
          {{message}}
        </div>
      </div>
    </div>
  </div>
</div>
