<!-- <mat-table [dataSource]="data">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>#ID</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.id}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>item name</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.email}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="accountType">
    <mat-header-cell *matHeaderCellDef>Account type</mat-header-cell>
    <mat-cell *matCellDef="let item"><span>{{item.accountType}}</span></mat-cell>
  </ng-container>
  <ng-container matColumnDef="controls">
    <mat-header-cell *matHeaderCellDef>Control</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button class="btn btn-outline-primary mr-2 ml-2" (click)="edititem(item.id)"><i class="ti ti-pencil"></i></button>
      <button class="btn btn-danger"><i class="ti ti-trash"></i></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator [length]="10" [pageSize]="5" [pageSizeOptions]="[5,10,15,20,25]" [showFirstLastButtons]="true">
</mat-paginator> -->
