@import '../../../assets/sass/helpers/0-helpers';

.ltr {
  .sidebar {
    left: 0;

    .nav-link {
      i {
        margin-right: 5px
      }
    }
  }
}

.rtl {
  .sidebar {
    right: 0;

    .nav-link {
      i {
        margin-left: 5px
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding: 55px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: $black;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: $white;
  background-color: $main-color;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
   * Content
   */

[role="main"] {
  padding-top: 133px;
  /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px;
    /* Space for fixed navbar */
  }
}
